<!DOCTYPE html>
<html lang="en" ng-app="userRegApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="userRegCtrl as ctrl" class="col-sm-8 col-lg-4 reg-page">
        <h1> User Registration Form</h1>
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            
            <!-- Email input -->
            <div class="form-group">
                <label for="email">Email address *</label>
                <input id="email" name="email" type="email" placeholder="email@domain.com" class="form-control" required ng-model="ctrl.user.email" />
                <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.email.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> A valid email is required.
                    </div>
                    <div data-ng-show="registrationForm.email.$error.email">
                        <span class ="glyphicon glyphicon-alert"></span> Email address format is invalid.
                    </div>
                </div>
            </div>
            
            <!-- Password Input -->
            <div class="form-group">
                <label for="password">Password *</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" minlength="8" required ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.password.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> A password is required.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.minlength">
                        <span class ="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.pattern">
                        <span class ="glyphicon glyphicon-alert"></span> Password must include a number, a special character (@, #, $) and both upper and lower cases.
                    </div>
                </div>
            </div>

            <!-- Name Input -->
            <div class="form-group">
                <label for="fullname">Full Name *</label>
                <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname" maxlength="50" required/>
                <div class="validation" data-ng-show="registrationForm.fullname.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.fullname.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> Please enter your full name.
                    </div>
                </div>
            </div>

            <!-- Gender Input -->
            <div class="form-group">
                <label for="gender">Gender *</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.user.gender" required/> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.user.gender" required/> Female
                <br/>
                <div class="validation" data-ng-show="registrationForm.gender.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.gender.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> Please select a gender.                        
                    </div>
                </div>
            </div>
            
            <!-- D.O.B Input -->
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth *</label>
                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth" required/> 
                <br/>
                <div class="validation" data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please select your date of birth.
                    </div>
                    <div data-ng-show="registrationForm.$submitted && ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                        <span class="glyphicon glyphicon-alert"></span> You must be at least 18 years old to submit this form.
                    </div>
                </div>
            </div>

            <!-- Address Input -->
            <div class="form-group">
                <label for="address">Address *</label>
                <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" maxlength="100" required />
                <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.address.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> Please enter your address.
                    </div>
                </div>
            </div>

            <!-- Country Input -->
            <div class="form-group">
                <label for="country">Country *</label>
                <input id="country" name="country" type="text" class="form-control" ng-model="ctrl.user.country" maxlength="70" required/>
                <div class="validation" data-ng-show="registrationForm.country.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.country.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> Please enter your country.
                    </div>
                </div>
            </div>

            <!-- Contact Number Input -->
            <div class="form-group">
                <label for="contactNo">Contact number (format: (xxx) xxx-xxxx) *</label>
                <input id="contactNo" name="contactNo" type="tel" class="form-control" ng-model="ctrl.user.contactNo" required ng-pattern="/((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}/" />
                <div class="validation" data-ng-show="registrationForm.contactNo.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.contactNo.$error.required">
                        <span class ="glyphicon glyphicon-alert"></span> A contact number is required.
                    </div>
                    <div data-ng-show="registrationForm.contactNo.$error.pattern">
                        <span class ="glyphicon glyphicon-alert"></span> Please match requested format.
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="form-group">
                <hr/>
                <p>* denotes mandatory fields</p>
                <input id="submit" name="submit" type="submit" class="btn btn-success btn-block" ng-disabled="registrationForm.$invalid || registrationForm.$pending" onclick="return confirm('Success! Form Submitted');"/>
            </div>
        </form>
    </div>


<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/app/app.module.js"></script>
<script src="/app/registration.controller.js"></script>
</body>

</html>