.reg-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
    padding: 20px 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.validation {
    color: red;
}

p {
    font-weight: bold;
    font-style: italic;
    margin-top: -10px;
}